<launch>
	<!-- vim: set ft=xml noet : -->
	<!-- Example of using Freyja with temporal trajectories. -->
	

	<!-- allowed autopilots: "asctec" or "arducopter" -->
	<arg name="autopilot"                 default="arducopter" />
	<arg name="vicon_topic"               default="/vicon/F1/F1" />

	<!-- use "device:baudrate" for apm, "device" for asctec -->
	<arg name="comm_port"                 default="/dev/ttyUSB0:57600"/>
	<arg name="total_mass"                default="0.95"/>

  <!-- advanced settings -->
	<arg name="use_velctrl_only" default="false"/>
	<arg name="bias_compensation" default="false" />

  <!-- autostart rosbag -->
	<arg name="start_rosbag" default="false"/>

	<!-- Include Freyja controller -->
	<include file="$(find freyja)/launch/freyja_controller.launch">
		<arg name="autopilot" value="$(arg autopilot)"/>
		<arg name="vicon_topic" value="$(arg vicon_topic)"/>
		<arg name="comm_port" value="$(arg comm_port)"/>
		<arg name="total_mass" value="$(arg total_mass)"/>
		<arg name="use_waypoint_handler" value="true"/>
		<arg name="use_velctrl_only" value="$(arg use_velctrl_only)"/>
		<arg name="bias_compensation" value="$(arg bias_compensation)"/>
	</include>

	<!-- Include waypoint controller -->
	<node name="waypoint_provider_node" pkg="examples" type="waypoint_provider.py">
  </node>

  <!-- Record stuff -->
  <node name="recorder" pkg="rosbag" type="record" args="-a" if="$(eval start_rosbag)"/>

	<!-- Temp -->
	<node name="reference_to_point_node" pkg="examples" type="ref_to_point.py">
  </node>
</launch>